{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="user_foto">
                {% if profile.photo %}
                    <img src="{{ profile.photo.url }}">
                {% else %}
                    <img src="/media/users/default_profile_photo.jpg">
                {% endif %}
            </div>
        </div>
        <div class="col-8">
            <h5>{{ request.user.first_name }} {{ request.user.last_name }}</h5>
            {% if profile.date_of_birth %}
                <p class="user_info">Date of birth: {{ profile.date_of_birth }}</p>
            {% endif %}
            {% if profile.sex != 'none' %}
                <p class="user_info">Sex: {{ profile.sex }}</p>
            {% endif %}
            <!--<h1>Dashboard</h1>
            <p>Welcome to your dashboard.
                You can <a href="{% url 'edit' %}">edit your profile</a> or
                <a href="{% url 'password_change' %}">change your password</a>.
            </p>-->
        </div>
    </div>
{% endblock %}