{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            l
        </div>
        <div class="col-8">
            <h5>{{ request.user.first_name }} {{ request.user.last_name }}</h5>
            {% if profile.date_of_birth %}
                <p>Date of birth: {{ profile.date_of_birth }}</p>
            {% endif %}
            <!--<h1>Dashboard</h1>
            <p>Welcome to your dashboard.
                You can <a href="{% url 'edit' %}">edit your profile</a> or
                <a href="{% url 'password_change' %}">change your password</a>.
            </p>-->
        </div>
    </div>
{% endblock %}